{% extends 'base.html' %}
{% load static %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
<div class="px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Статусы</h1>
    <a href="{% url 'statuses:create' %}" class="mt-4 bg-blue-600 hover:bg-blue-700 text-white font-medium px-4 py-2 rounded">Создать статус</a>
    <div class="overflow-x-auto">
        <table class="min-w-full text-left text-sm border-collapse">
            <thead class="table-dark">
                <tr class="border-b border-gray-200 font-semibold text-gray-900">
                    <th class="py-3 px-4">ID</th>
                    <th class="py-3 px-4">Имя</th>
                    <th class="py-3 px-4">Дата создания</th>
                    <th class="py-3 px-4">Действия</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for status in statuses %}
                <tr class="odd:bg-white even:bg-gray-50 hover:bg-gray-100">
                    <td class="py-3 px-4">{{ status.id }}</td>
                    <td class="py-3 px-4">{{ status.name|default:"—" }}</td>
                    <td class="py-3 px-4">{{ status.created_at }}</td>
                    <td>
                        <a href="{% url 'statuses:update' status.pk %}"
                           class="block text-blue-600 hover:underline">
                            Изменить
                        </a>
                        <a href="{% url 'statuses:delete' status.pk %}"
                           class="block text-blue-600 hover:underline">
                            Удалить
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-muted py-4">
                        Статусы не найдены
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block picture %}
    <div class="hero-image flex justify-end mt-8 bg-white p-4 rounded-lg shadow ml-auto w-fit">
        <img src="{% static 'images/img4.png' %}" alt="Стикер" width="300" class="w-60 h-auto">
    </div>
{% endblock %}