<!-- task_manager/templates/users/create.html -->

{% extends "base.html" %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto bg-white border border-gray-200 rounded-lg p-8 shadow-sm">
  <h1 class="text-3xl font-bold mb-6">Регистрация</h1>
  <form method="post" action="{% url 'users:create' %}">
    {% csrf_token %} {% if form.non_field_errors %}
    <div class="mb-4 p-3 bg-red-50 text-red-700 rounded">
      {{ form.non_field_errors }}
    </div>

    {% endif %} {% for field in form %}
    <div class="mb-4">
      <label
        for="{{ field.id_for_label }}"
        class="block text-sm font-medium mb-1"
      >
        {{ field.label }}
      </label>
      {{ field }} {% if field.errors %}
      <p class="text-sm text-red-600 mt-1">{{ field.errors|striptags }}</p>
      {% endif %} {% if field.help_text %}
      <p class="text-xs text-gray-500">{{ field.help_text }}</p>
      {% endif %}
    </div>
    {% endfor %}

    <button
      type="submit"
      class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium px-4 py-2 rounded"
    >
      Зарегистрировать
    </button>
  </form>
    <div class="flex-shrink-0">
        <img src="{% static 'images/img5.png' %}" alt="Стикер" width="280" class="w-64 h-auto">
    </div>
</div>
{% endblock %}

{% block picture %}

{% endblock %}