{% extends 'base.html' %}
{% load static %}

    {% block title %}Менеджер задач{% endblock %}


{% block content %}
        <div class="bg-white border border-gray-200 rounded-lg p-8 shadow-sm">
          <h1 class="text-3xl font-normal text-gray-900 mb-2">Привет от Хекслета!</h1>
          <p class="text-gray-600 mb-6">Тут мы создаем менеджер задач. Надеюсь вам будет интересно!</p>

          <hr class="border-t border-gray-200 mb-6">

        </div>
{% endblock %}

    {% block picture %}
            <div class="hero-image flex justify-end mt-auto pt-12">
                <img src="{% static 'images/main.png' %}" alt="Стикер" width="240" class="w-60 h-auto">
            </div>
    {% endblock %}



    {% block footer %}
        Улыбайся чаще!
    {% endblock %}


